@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  /* Variables de couleur */
  --primary-color: #ff6060;
  --secondary-color: #000000;
  --background-color: #f1f1f1;
  --text-color: #ffffff;
  --link-color: #000000;
  --link-hover-color: #535bf2;
  --button-background-color: #1a1a1a;
  --button-hover-border-color: #646cff;
}

[data-theme="dark"] {
  /* Variables de couleur pour le mode sombre */
  --primary-color: #1a1a1a;
  --secondary-color: #ffffff;
  --background-color: #333333;
  --text-color: #ffffff;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-background-color: #ffffff;
  --button-hover-border-color: #646cff;
}

#root {
  margin: 0 auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: var(--text-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;

  &:hover {
    color: var(--link-hover-color);
  }
}

.theme-toggle-logo {
  height: 7em;
  padding: 1.5em;
  cursor: pointer;
  transition: filter 300ms, transform 0.3s ease;

  &:hover {
    filter: drop-shadow(0 0 2em var(--button-hover-border-color));
    transform: scale(1.1); /* Agrandir légèrement le logo au survol */
  }
}

.content {
  padding-top: 50px; /* Ajustez cette valeur en fonction de la hauteur de votre header */
  padding-bottom: 30px; /* Ajustez cette valeur en fonction de la hauteur de votre footer */
  max-width: 1200px; /* Ajustez cette valeur selon vos besoins */
  min-width: 800px; /* Ajustez cette valeur selon vos besoins */
  margin: 0 auto; /* Centre le contenu */
  overflow: hidden; /* Empêche le débordement */
}

.logo {
  height: 7em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #edededaa);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em #000000aa);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background-color);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--button-hover-border-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  a:hover {
    color: var(--link-hover-color);
  }

  button {
    background-color: var(--button-background-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }

  a {
    color: var(--dark-link-color);

    &:hover {
      color: var(--dark-link-hover-color);
    }
  }

  button {
    background-color: var(--dark-button-background-color);

    &:hover {
      border-color: var(--dark-button-hover-border-color);
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
