.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centre verticalement les éléments */
  padding: 0.5rem 3rem; /* Réduisez la hauteur en ajustant le padding */

  .header-logo {
    width: 210px;
    height: 68px;
    margin-top: 45px;
    margin-bottom: 50px; /* Marge du haut de la page et du bas du header, centré horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 100%;
    height: auto; /* Ajustez la hauteur de l'image */
  }

  .logo svg {
    width: 100%;
    height: auto; /* Ajustez la hauteur du SVG */
    fill: var(--primary-color);
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;

    li a {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      font-size: 24px;

      transition: color 0.3s ease; /* Ajoutez une transition pour l'animation */

      &:hover {
        color: #007bff; /* Changez la couleur au survol */
      }
    }
  }
}

.header-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em var(--primary-color));
  }

  &:hover svg {
    fill: var(--primary-color);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em var(--primary-color));
  }

  &.react:hover svg {
    fill: var(--primary-color);
  }
}

/* Commentaire de l'animation logo-spin */
/*
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}
*/

/* Commentaire de la règle @media pour l'animation */
/*
@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: logo-spin infinite 20s linear;
  }
}
*/
