.project-collapse {
  border-radius: 8px;
  margin: 1rem 0;
  overflow: hidden;
  width: 100%;
  .project-collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--text-color);

    h2 {
      margin: 0;
      font-size: 1.2rem;
    }

    .project-collapse-arrow {
      font-size: 1.2rem;
      transition: transform 0.3s ease;
      transform: rotate(
        180deg
      ); /* Ajoutez cette ligne pour inverser le sens par défaut */
    }

    .project-collapse-arrow.open {
      transform: rotate(
        0deg
      ); /* Ajoutez cette ligne pour remettre le chevron à sa position initiale lorsqu'il est ouvert */
    }
  }

  .project-collapse-content {
    padding: 1rem;
    background-color: #f0f0f0;
    color: #333;
    border-top: 1px solid #ddd;
  }
}
