@charset "UTF-8";
.project-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}
.project-details .project-title {
  color: var(--primary-color); /* Couleur rouge pour le titre */
  font-size: 2rem;
  margin: 1rem 0;
}
.project-details .project-location {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.project-details .project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%; /* Assurez-vous que l'info prend toute la largeur */
}
.project-details .project-tags {
  display: flex;
  gap: 0.5rem;
}
.project-details .project-tags .tag {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
}
.project-details .project-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.project-details .project-host .host-info {
  display: flex;
  align-items: center; /* Aligner le texte et l'image au centre */
  margin-bottom: 0.5rem;
}
.project-details .project-host .host-info .host-name {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}
.project-details .project-host .host-info .host-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.project-details .project-host .host-rating {
  display: flex;
  gap: 0.25rem;
  justify-content: flex-end; /* Centrer les étoiles */
  width: 100%; /* Prendre toute la largeur du conteneur */
}
.project-details .project-host .host-rating .star-filled {
  color: gold;
}
.project-details .project-host .host-rating .star-empty {
  color: lightgray;
}
.project-details .project-details-collapses {
  display: flex;
  gap: 2rem;
  width: 100%; /* Assurez-vous que les collaps prennent toute la largeur */
}
.project-details .project-details-collapses .project-collapse {
  flex: 1;
  margin: 0 0.5rem; /* Ajoutez une marge pour espacer les collaps */
}
.project-details .project-details-collapses ul {
  list-style: none; /* Supprime les marqueurs */
  padding: 0; /* Supprime le padding par défaut */
  margin: 0; /* Supprime la marge par défaut */
}
.project-details .project-details-collapses li {
  text-align: left; /* Aligne le texte à gauche */
}
.project-details .project-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 1rem;
}
.project-details .project-content .project-left,
.project-details .project-content .project-right {
  flex: 1;
  padding: 1rem;
}
.project-details .project-content .project-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-details .project-content .project-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-details .project-content .project-equipments {
  margin-top: 1rem;
}
.project-details .project-description {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

/* Media queries pour le mode mobile */
@media (max-width: 800px) {
  .project-content {
    flex-direction: column;
  }
  .project-content .project-left,
  .project-content .project-right {
    padding: 0;
  }
  .project-content .project-host {
    align-items: center;
    text-align: center;
    flex-direction: row-reverse; /* Ajoutez cette ligne pour aligner les éléments en ligne */
  }
  .project-content .project-host .host-info {
    flex-direction: row; /* Ajoutez cette ligne pour aligner les éléments en ligne */
    align-items: center;
  }
  .project-content .project-host .host-info .host-name {
    margin-right: 10px; /* Pousser le nom de l'hôte à gauche */
  }
  .project-content .project-host .host-info .host-image {
    margin-left: 10px; /* Pousser l'image à droite */
  }
  .project-content .project-host .host-rating {
    justify-content: flex-start; /* Aligner les étoiles à gauche */
    width: auto; /* Ajuster la largeur pour ne pas prendre toute la largeur */
  }
  .project-description {
    flex-direction: column;
  }
}/*# sourceMappingURL=ProjectDetails.css.map */